{
   project =
   {
      description="🍫 mulle-rbtree organizes data in a red/black tree";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-rbtree";
      user="mulle-c";
      repo="mulle-rbtree";
      homepage="https://github.com/mulle-c/mulle-rbtree";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🛅 Memory management for tree nodes";
         domain="github";
         name="mulle-storage";
         repo="mulle-storage";
         url="https://github.com/mulle-c/mulle-storage";
         user="mulle-c";
      }
   );
}
